.el-input__inner::placeholder {
    text-align: center !important;
    line-height: inherit !important;
}
.el-input__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
  }